* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #dad8dd;
}

button {
    cursor: pointer;
    font-weight: bold;
}


/* NAVBAR */
nav {
    background-color: #333333ee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    padding: 0 2rem;
    position: fixed;
    width: 96%;
}
nav a {
    color: #fff;
    font-weight: 400;
}
/* USE SOME JAVASCRIPT TO ENABLE AND DISABLE LINKS BASED ON PAGES INSTEAD OF CALLING THEM LIKE THIS */
.navlinks a:first-child {
    color: #ff5310;
    border-bottom: 1px solid #fff;
}
.logo {
    font-size: 1.2rem;
    font-weight: bold;
}
nav span {
    color: #ff5310;
}
.navlinks {
    display: flex;
    gap: 1rem;
}
.navlinks a {
    padding: 0.5rem;
}

/* HERO SECTION */
.hero {
    background: url('../images/image3.jpg');
    /* I'm trying to add a linear gradient to this. I've forgotten how */
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem 0;
}
.hero h1 {
    font-size: 3rem;
}
.hero h1 span {
    color: #ff5310;
}
.hero aside {
    font-size: 1.2rem;
    font-style: italic;
    color: #ff5310;
    font-weight: bold;
}

/* EVENT CARDS */
/* Fix the respnsiveness issue with the cards here. 
Maybe I'll add an image... or not
HELP T_T*/
.program-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* gap: 1.5rem; */
    width: 100%;
}
.card {
    max-width: none;
    box-sizing: border-box;
    /* width: 100%; */
    padding: 2rem;
    background-color: #fff;
    margin: 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.card .progress-bar {}
.card .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card .buttons .buttons{}
.card .buttons .enquiry{}

.card .donate {
    padding: 1rem;
    margin-right: 1rem;
    background-color: #ff5310;
    color: #fff;
    border: none;
}
.card .volunteer {
    padding: 1rem;
    color: #ff5310;
    background-color: #fff;
    border: 1px solid #ff5310;
}
.card .volunteer:hover {
    background-color: #333;
    color: #fff;
    border: none;
}
.card .donate:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}

/* FOOTER */
.footer {
    height: 10vh;
    background-color: #333333ee;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.footer p {}
.footer p span {}